body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.NavbarCore, .NavbarNucleos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Content, .AboutSecondNucleo, .AboutTercerNucleo, .Formdiv, .FooterCore{
  margin-top: 40px;
}
.FormNucleo{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}
.AboutTercerNucleo{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.AboutSecondNucleo{
  display: flex;
  align-items: center;
  gap: 30px;
}
.cardeditedfooter{
  width: 70%;
  margin: 0 auto;
  margin-bottom: -30px;
  z-index: 1;
}
.redsocialdiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.redsocialcore{
  display: grid;
  grid-template-columns: 30% 70%;
  align-content: center;
}
.AboutTexts{
  display: flex;
  flex-direction:column;
  gap: 20px;
}