body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7230240f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parallax {

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel_1, .carousel_2, .carousel_3{
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.NavbarCore{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Content, .AboutSecondNucleo, .AboutTercerNucleo, .Formdiv, .FooterCore{
  margin-top: 60px;
}
.FormNucleo{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}
.AboutTercerNucleo{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.AboutSecondNucleo, .Formdiv{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}
.cardeditedfooter{
  width: 70%;
  margin: 0 auto;
  margin-bottom: -10px;
  z-index: 1;
}
.redsocialdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.AboutTexts{
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.card {
  border: 3px solid #723024 !important;
}
.titleborder{
  font-size: 30px !important;
  margin: 0 40px;
}
.h1title, .titleborder{
  border-bottom: 3px solid #3f7e19;
}
.h1title{
  margin: 0 150px;
}
.buttonedited{
  background-color: #F9511C !important;
  border: 3px solid #3f7e19 !important;
}
.buttonedited:hover{
  background-color: #3f7e19 !important;
  border: 3px solid #F9511C !important;
}
a{
  color: #723024 !important;
}